.modal-content {
  background-color: #fbfaf5 !important;
}
.modal-content {
  border-radius: 15px !important;
}
.modal-header {
  border: none !important;
}
.modal-header {
  padding: 0px !important;
  display: block !important;
}
.modal {
  --bs-modal-width: 400px !important;
}
.modal-footer {
  justify-content: center !important;
  border: none !important;
}

.dropdown-toggle::after{
  color: #000;
}

.pickupNotification-modalMain .modal-dialog {
  margin-right: 80px !important;
  margin-top: 70px;
}

.pickupNotification-modalMain .modal-dialog-centered {
  min-height: auto !important;
}

.fa-check {
  color: #fff;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Montserrat", sans-serif;
}

.tabs {
  width: 100%;
  overflow: hidden;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.tabs ul li {
  text-align: center;
}

.tabs ul li label {
  display: block;
  padding: 15px 20px;
  color: #000;
  cursor: pointer;
  transition: 0.7s;
}

.tabs ul li label:hover {
  color: var(--secondary-color);
}

.tabs .tab-input:checked + .tab-label {
  background-color: #ffcc00; /* Active tab background color */
  border-color: #ccc;
  border-bottom-color: #fff;
}

.tabs .content section {
  display: none;
}

.tabs
  input[type="radio"]:nth-of-type(1):checked
  ~ .content
  section:nth-of-type(1),
.tabs
  input[type="radio"]:nth-of-type(2):checked
  ~ .content
  section:nth-of-type(2),
.tabs
  input[type="radio"]:nth-of-type(3):checked
  ~ .content
  section:nth-of-type(3) {
  display: block;
}

@media (max-width: 600px) {
  .tabs ul {
    flex-direction: column;
  }

  .tabs ul li label {
    border-radius: 0;
  }

  .tabs ul li label:first-of-type {
    border-radius: 10px 10px 0 0;
  }

  .tabs ul li label:last-of-type {
    border-radius: 0 0 10px 10px;
  }
}
